---
import Layout from "../layouts/Layout.astro";
const { title } = Astro.props;
---

<Layout title={title}>
  <h1>Proximamente...</h1>
</Layout>
<style>
  h1 {
    text-align: center;
    margin-top: 10rem;
    font-size: 2rem;
  }
</style>
